body {
  background-color:#0F172A;
}
#home {
  height: 40rem;
  display: flex;
  align-items: center;
}

#home img {
  border-radius: 50%;
  width: 90%;
}
#home h1 {
  font-family: Anton, sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
#home button {
  width: fit-content;
}

#about {
  border-radius: 10px;
}

/* For mobile screen only */
@media screen and (max-width: 600px) {
  #home img {
    border-radius: 50%;
    width: 70%;
  }
  #home h1 {
    font-family: Anton, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
  }
}
.social-container{
    display: flex;
    gap:20px;

}
.social-container a svg{
    height: 32px;
    width: 32px;
    fill:white
}
footer {
  background-color: rgb(212, 63, 63) /* Replace with your desired color */
}
.bg-primary {
  background-color: #030915 !important;
}

.btn-primary {
  background-color: #0F172A;
  border-color: white;
}

.text-primary {
  color: white !important;
}

.border-primary {
  border-color: white !important;
}
#about {
  background-color: #0F172A;
}

#skills {
  background-color: #0F172A;
}

#projects {
  background-color: #0F172A;
  
  
}body {
  color: black;
}

.text-white {
  color: #F8FAFC  !important;
}